/* @font-face {
  font-family: "Reddit Sans";
  font-style: normal;
  font-weight: 600;
  src: url("/RedditSans.woff") format("woff");
} */

@import url("https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap");

:root {
  /* --- Default theme colors --- */
  --color-primary: #c4b1ae;
  --color-secondary: #6a66f2;
  --color-tertiary: #dcd6f7;
  --color-title: #fed766;
  --color-text: #dcd6f7;
  --color-text2: #262626;
  --color-bg: #262626;
  --color-bg2: #1c1c1c;
  --color-bg3: #dcd6f7;
  --color-bg4: #fed766;
  --color-success: #26c87a;
  --color-warning: #dc4b7f;

  font-family: "Reddit Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg2);
  color: var(--color-primary);
  font-size: 1.3rem;
  cursor: url("./cursor.png") 16 16, auto;
}

li {
  list-style: none;
}

a {
  all: unset;
}
a:hover {
  text-decoration: underline;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.text-primary {
  color: var(--color-primary);
}

.text-secondary {
  color: var(--color-secondary);
}

.text-title {
  color: var(--color-title);
}

.text-success {
  color: var(--color-success);
}

.text-warning {
  color: var(--color-warning);
}

/* ---------------- ANIMATIONS ---------------- */

@keyframes round {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes to_bottom {
  0% {
    transform: translateY(1rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes skillText {
  0% {
    transform: rotateX(0);
  }
  20% {
    transform: rotateX(360deg);
  }
  80% {
    transform: rotateX(360deg);
  }
  100% {
    transform: rotateX(0);
  }
}
